In [1]:
import vertexai
from vertexai.language_models import TextGenerationModel
from vertexai.preview.language_models import TextEmbeddingModel

In [2]:
from anthropic import Anthropic, HUMAN_PROMPT, AI_PROMPT

In [3]:
anthropic = Anthropic(api_key = "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")

In [4]:
def create_summary(message, anthropic, max_tokens_to_sample: int = 1000):
    messages = f"""Provide a summary with about five sentences for the following article, include every important event:
        ```{message}```

        """
    resp = anthropic.completions.create(
        prompt=f"{HUMAN_PROMPT}{messages}{AI_PROMPT}",
#         prompt = messages,
        stop_sequences=[HUMAN_PROMPT],
        model="claude-v1.3",
        max_tokens_to_sample=max_tokens_to_sample,
    )
    return resp.completion.strip(' ')

def text_embedding(message):
    model = TextEmbeddingModel.from_pretrained("textembedding-gecko@001")
    embeddings = model.get_embeddings([message])
    for embedding in embeddings:
        vector = embedding.values
    return vector

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("sp500_info.csv")

In [7]:
df

,Symbol,Name,Sector,News,14days,7weeks
0,MMM,3M,Industrials,"{""2 Reasons To Sell 3M Stock Despite The 'Good...","{""2023-07-07"": {""1. open"": ""96.19"", ""2. high"":...",NaN
1,AOS,A. O. Smith,Industrials,{'SMITH A O CORP: Form 11-K - Annual report of...,"{""2023-07-07"": {""1. open"": ""70.42"", ""2. high"":...",NaN
2,ABT,Abbott Laboratories,Health Care,{'ADA: Abbott pushes for widespread CGM use in...,"{""2023-07-07"": {""1. open"": ""106.3"", ""2. high"":...",NaN
3,ABBV,AbbVie,Health Care,"{""Organon launches biosimilar of AbbVie's Humi...","{""2023-07-07"": {""1. open"": ""137.15"", ""2. high""...",NaN
4,ABMD,Abiomed,Health Care,{'ABIOMED INC: Form 11-K - Annual report of em...,"{""2023-01-03"": {""1. open"": ""381.02"", ""2. high""...",NaN
...,...,...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,"{""This week in restaurant news, restaurants ar...","{""2023-07-07"": {""1. open"": ""133.37"", ""2. high""...",NaN
501,ZBRA,Zebra Technologies,Information Technology,{'Zebra Technologies: Down But Not Out | $ZBRA...,"{""2023-07-07"": {""1. open"": ""291.49"", ""2. high""...",NaN
502,ZBH,Zimmer Biomet,Health Care,"{'ZIMMER BIOMET HOLDINGS, INC.: Form 4 - State...","{""2023-07-07"": {""1. open"": ""140.6"", ""2. high"":...",NaN
503,ZION,Zions Bancorp,Financials,"{'ZIONS BANCORPORATION, NATIONAL ASSOCIATION /...","{""2023-07-07"": {""1. open"": ""27.78"", ""2. high"":...",NaN
504,ZTS,Zoetis,Health Care,{'Zoetis slips after Q1 revenue miss and reaff...,"{""2023-07-07"": {""1. open"": ""168.23"", ""2. high""...",NaN

In [8]:
from ast import literal_eval
df["News"] = df["News"].apply(literal_eval)

In [9]:
df[df["14days"]=="no data"]

,Symbol,Name,Sector,News,14days,7weeks
365,PKI,PerkinElmer,Health Care,"{REVVITY, INC.: Form 3 - Initial statement of ...",no data,NaN

In [10]:
df = df[df["14days"]!="no data"]

In [11]:
df["14days"] = df["14days"].apply(literal_eval)

/tmp/ipykernel_68218/1610233084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["14days"] = df["14days"].apply(literal_eval)

In [12]:
pd.DataFrame(df.iloc[0]["14days"])

,2023-07-07,2023-07-06,2023-07-05,2023-07-03,2023-06-30,2023-06-29,2023-06-28,2023-06-27,2023-06-26,2023-06-23,2023-06-22,2023-06-21,2023-06-20,2023-06-16
1. open,96.19,98.0,100.79,100.2,100.01,98.1,98.26,99.92,100.0,103.3,101.29,101.67,102.78,104.25
2. high,98.99,98.08,101.37,101.44,100.4,99.46,99.27,100.22,100.885,103.5,101.31,102.29,102.93,104.89
3. low,96.17,95.57,98.57,99.92,99.2,97.92,97.77,98.07,99.47,99.48,99.64,100.8,101.075,103.17
4. close,97.29,96.31,98.63,101.14,100.09,99.24,98.57,98.26,100.41,100.72,100.43,101.47,102.3,104.54
5. adjusted close,97.29,96.31,98.63,101.14,100.09,99.24,98.57,98.26,100.41,100.72,100.43,101.47,102.3,104.54
6. volume,3988375,5133163,3945338,1599469,5087002,3496870,3795598,5429368,3655366,7811288,2594899,2518050,2747024,6197456
7. dividend amount,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8. split coefficient,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [13]:
df

,Symbol,Name,Sector,News,14days,7weeks
0,MMM,3M,Industrials,{3M Company: Good News Is Bad News - Weighing ...,"{'2023-07-07': {'1. open': '96.19', '2. high':...",NaN
1,AOS,A. O. Smith,Industrials,"{SMITH A O CORP: Form 8-K - Current report, SM...","{'2023-07-07': {'1. open': '70.42', '2. high':...",NaN
2,ABT,Abbott Laboratories,Health Care,{Abbott Laboratories Is A Hold Due To Its High...,"{'2023-07-07': {'1. open': '106.3', '2. high':...",NaN
3,ABBV,AbbVie,Health Care,{Amgen: A Healthcare Bargain With A 4% Yield |...,"{'2023-07-07': {'1. open': '137.15', '2. high'...",NaN
4,ABMD,Abiomed,Health Care,{ABIOMED INC: Form SC 14D9/A [Amend] - Solicit...,"{'2023-01-03': {'1. open': '381.02', '2. high'...",NaN
...,...,...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,{As restaurant brands look to drive digital ad...,"{'2023-07-07': {'1. open': '133.37', '2. high'...",NaN
501,ZBRA,Zebra Technologies,Information Technology,{ZEBRA TECHNOLOGIES CORP: Form SD - Specialize...,"{'2023-07-07': {'1. open': '291.49', '2. high'...",NaN
502,ZBH,Zimmer Biomet,Health Care,"{Zimmer Biomet Holdings, Inc. (NYSE and SIX: Z...","{'2023-07-07': {'1. open': '140.6', '2. high':...",NaN
503,ZION,Zions Bancorp,Financials,{Zions Bancorporation downgraded to Neutral at...,"{'2023-07-07': {'1. open': '27.78', '2. high':...",NaN
504,ZTS,Zoetis,Health Care,{Zoetis Inc.: Form 4/A [Amend] - Statement of ...,"{'2023-07-07': {'1. open': '168.23', '2. high'...",NaN

In [7]:
def news2embedding(news_list):
    try:
        news_total = ""
        for news in news_list:
            news_total += news
        news_summary = create_summary(news_total,client)
        news_embedding = text_embedding(news_summary)
        return news_embedding
    except:
        return None

In [21]:
df["News_embedding"] = df["News"].apply(news2embedding)

/tmp/ipykernel_54627/1251361503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["News_embedding"] = df["News"].apply(news2embedding)

In [2]:
df.to_csv("sp500_embedding_final")

NameError: name 'df' is not defined

In [6]:
df = pd.read_csv("sp500_embedding_final")

In [7]:
from pymongo import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://cluster0.cxcyr4x.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority"
client = MongoClient(uri,
                     tls=True,
                     tlsCertificateKeyFile='X509-cert-8082716613236110284.pem',
                     server_api=ServerApi('1'))
db = client['sp500']
collection = db['sp500']
# collection.drop()
# collection = db['testCol']
doc_count = collection.count_documents({})
print(doc_count)

504

In [28]:
def store_stock_info(symbol, name, Sector, price, News, news_embedding, collection=collection):
    record = {"symbol": symbol, "name": name, "Sector":Sector, "price": price, "News" : News, "embedding": news_embedding}

    # Insert the record into the collection
    collection.insert_one(record)

In [32]:
for i in range(len(df)):
    store_stock_info(df.iloc[i]["Symbol"],df.iloc[i]["Name"],df.iloc[i]["Sector"],df.iloc[i]["14days"],list(df.iloc[i]["News"]),df.iloc[i]["News_embedding"])

In [15]:
data = df.iloc[-1]["News"]

In [16]:
data

{'Zoetis Inc . (NYSE:ZTS) will host a webcast and conference call at 8:30 a.m. (ET) on Tuesday, Aug. 8, 2023. Chief Executive Officer Kristin Peck and Executive Vice President and Chief Financial Officer Wetteny Joseph will review second quarter 2023 financial results and respond to questions from financial analysts during the call.',
 'Zoetis Inc. (NYSE: ZTS) today reported its financial results for the first quarter of 2023 and maintained its guidance for full year 2023.',
 'Zoetis Inc. (ZTS) Q1 2023 Financial Results Conference Call Transcript | $ZTS',
 'Zoetis Inc. announced that the U.S. Food and Drug Administration has approved Librelaâ„¢ for the control of pain associated with osteoarthritis in dogs.',
 'Zoetis Inc.: Form 10-Q - Quarterly report [Sections 13 or 15(d)]',
 'Zoetis Inc.: Form 11-K - Annual report of employee stock purchase, savings and similar plans',
 'Zoetis Inc.: Form 144 - Report of proposed sale of securities',
 'Zoetis Inc.: Form 4 - Statement of changes in beneficial ownership of securities',
 'Zoetis Inc.: Form 4/A [Amend] - Statement of changes in beneficial ownership of securities',
 'Zoetis Inc.: Form 8-K - Current report',
 'Zoetis Inc.: Form SD - Specialized disclosure report',
 'Zoetis Q1 2023 Earnings Preview',
 'Zoetis osteoarthritis pain drug for dogs wins FDA approval',
 'Zoetis slips after Q1 revenue miss and reaffirmed outlook | $ZTS',
 "Zoetis' Dividend Growth: Small Yield, Big Returns | $ZTS",
 'Zoetis: A Purrfect Addition To Your Portfolio | $ZTS'}

In [6]:
df

,Unnamed: 0,Symbol,Name,Sector,News,14days,7weeks,News_embedding
0,0,MMM,3M,Industrials,"{'Dow Inc.: A Long-Term Compounder, Now On Sal...","{'2023-07-07': {'1. open': '96.19', '2. high':...",NaN,"[0.014652274549007416, -0.058453772217035294, ..."
1,1,AOS,A. O. Smith,Industrials,{'SMITH A O CORP: Form CORRESP [Cover] - Corre...,"{'2023-07-07': {'1. open': '70.42', '2. high':...",NaN,"[0.014226794242858887, -0.045488808304071426, ..."
2,2,ABT,Abbott Laboratories,Health Care,{'Dividend Income Update May 2023 | $AAPL $ABB...,"{'2023-07-07': {'1. open': '106.3', '2. high':...",NaN,"[-0.007455592043697834, -0.034989286214113235,..."
3,3,ABBV,AbbVie,Health Care,"{'AbbVie sends SHP2 deal back to port, followi...","{'2023-07-07': {'1. open': '137.15', '2. high'...",NaN,"[0.0018385921139270067, -0.031025810167193413,..."
4,4,ABMD,Abiomed,Health Care,{'ABIOMED INC: Form SC TO-T - Tender offer sta...,"{'2023-01-03': {'1. open': '381.02', '2. high'...",NaN,"[0.00811845250427723, -0.03386082872748375, -0..."
...,...,...,...,...,...,...,...,...
499,500,YUM,Yum! Brands,Consumer Discretionary,{'Yum! Brands: Sumptuous Fundamentals Giving H...,"{'2023-07-07': {'1. open': '133.37', '2. high'...",NaN,"[0.008229564875364304, -0.056307271122932434, ..."
500,501,ZBRA,Zebra Technologies,Information Technology,{'Company Close Updates: Zebra Technologies Co...,"{'2023-07-07': {'1. open': '291.49', '2. high'...",NaN,"[0.00579949002712965, -0.03086690790951252, -0..."
501,502,ZBH,Zimmer Biomet,Health Care,{'Company Close Updates: Zimmer Biomet Holding...,"{'2023-07-07': {'1. open': '140.6', '2. high':...",NaN,"[0.005828206427395344, -0.03424043580889702, 0..."
502,503,ZION,Zions Bancorp,Financials,{'Zions Bancorporation: Focus On The Valuation...,"{'2023-07-07': {'1. open': '27.78', '2. high':...",NaN,"[0.011590179987251759, -0.04919113218784332, -..."
503,504,ZTS,Zoetis,Health Care,{'Zoetis Inc . (NYSE:ZTS) will host a webcast ...,"{'2023-07-07': {'1. open': '168.23', '2. high'...",NaN,"[-0.00023707696527708322, -0.01501451153308153..."

In [8]:
data = df.iloc[502]["News_embedding"]

In [10]:
news_total = ""
for news in data:
    news_total += news
news_summary = create_summary(news_total,anthropic)
news_embedding = text_embedding(news_summary)

In [11]:
news_embedding = text_embedding("which stock will be influenced if the gas price is droping?")

In [23]:
# Query search the collection
query = [
    {
        "$search": {
            "knnBeta": {
                "vector": news_embedding,
                "path": "embedding",
                "k": 3                
            }
        }
    }
]

results = collection.aggregate(query)
result_dict = dict()
for document in results:
    result_dict[document["symbol"]] = pd.DataFrame(document["price"]).iloc[4]

In [25]:
pd.DataFrame(result_dict)

               PXD     VLO   CTRA
2023-07-07   206.4  114.88  25.24
2023-07-06  202.99  113.46  24.82
2023-07-05  207.53  116.75  25.19
2023-07-03  207.74  117.43  25.17
2023-06-30  207.18   117.3   25.3
2023-06-29  206.07  116.61  25.13
2023-06-28  203.44  115.69  24.47
2023-06-27  199.74  115.35  24.27
2023-06-26  201.38  112.99  23.96
2023-06-23  198.66   111.3  23.72
2023-06-22  200.19  110.39  23.92
2023-06-21  203.27  111.62  24.42
2023-06-20  201.84  110.96  24.44
2023-06-16   206.8  114.21  25.21

In [45]:
results = collection.find({"symbol":"PXD"})

In [46]:
result_dict = dict()
for document in results:
    result_dict[document["symbol"]] = pd.DataFrame(document["price"]).iloc[4]

In [52]:
result_dict

{'PXD': 2023-07-07     206.4
 2023-07-06    202.99
 2023-07-05    207.53
 2023-07-03    207.74
 2023-06-30    207.18
 2023-06-29    206.07
 2023-06-28    203.44
 2023-06-27    199.74
 2023-06-26    201.38
 2023-06-23    198.66
 2023-06-22    200.19
 2023-06-21    203.27
 2023-06-20    201.84
 2023-06-16     206.8
 Name: 5. adjusted close, dtype: object}

In [59]:
from chat_vertex import vertex_chat, vertex_create_request_statue, text_embedding, vertex_get_stock_code
messages = "what about google today?"
stock_code = vertex_get_stock_code(messages)

In [60]:
stock_code

['GOOG']